{% extends "base.html" %}
{% block content %}
    <h1>{{ restaurant.name}}</h1>
    <a href="{{ url_for('restaurants')}}">
      <button type="button" class="btn btn-primary-outline">
        &lt;&lt; Return to Restaurant List
      </button>
    </a>
    <a href="{{ url_for('newMenuItem', restaurant_id = restaurant.id)}}">
      <button type="button" class="btn btn-primary-outline">
        Add Item +
      </button>
    </a>
    </br>
    </br>

    <!--  APPS -->
    <h2>Apps</h2>
    {% for i in apps %}
    {% if i.name|length > 1 %}<b>{{i.name}}</b></br>{% endif %}
    {% if i.description|length > 1 %}{{i.description}}</br>{% endif %}
    {% if i.price|length > 1 %}{{i.price}}</br>{% endif %}
    <a href="{{url_for('editMenuItem', restaurant_id= restaurant.id, menu_id= i.id)}}">
      <button type="button" class="btn btn-secondary btn-sm">Edit</button>
    </a>
    <a href="{{url_for('deleteMenuItem', restaurant_id= restaurant.id, menu_id= i.id)}}">
      <button type="button" class="btn btn-danger-outline btn-sm">Delete</button>
    </a>
    </br>
    </br>
    {% endfor %}

    <!--  ENTREES -->
    <h2>Entrees</h2>
    {% for i in entrees %}
    {% if i.name|length > 1 %}<b>{{i.name}}</b></br>{% endif %}
    {% if i.description|length > 1 %}{{i.description}}</br>{% endif %}
    {% if i.price|length > 1 %}{{i.price}}</br>{% endif %}
    <a href="{{url_for('editMenuItem', restaurant_id= restaurant.id, menu_id= i.id)}}">
      <button type="button" class="btn btn-secondary btn-sm">Edit</button>
    </a>
    <a href="{{url_for('deleteMenuItem', restaurant_id= restaurant.id, menu_id= i.id)}}">
      <button type="button" class="btn btn-danger-outline btn-sm">Delete</button>
    </a>
    </br>
    </br>
    {% endfor %}

    <!--  DESSERTS -->
    <h2>Desserts</h2>
    {% for i in desserts %}
    {% if i.name|length > 1 %}<b>{{i.name}}</b></br>{% endif %}
    {% if i.description|length > 1 %}{{i.description}}</br>{% endif %}
    {% if i.price|length > 1 %}{{i.price}}</br>{% endif %}
    <a href="{{url_for('editMenuItem', restaurant_id= restaurant.id, menu_id= i.id)}}">
      <button type="button" class="btn btn-secondary btn-sm">Edit</button>
    </a>
    <a href="{{url_for('deleteMenuItem', restaurant_id= restaurant.id, menu_id= i.id)}}">
      <button type="button" class="btn btn-danger-outline btn-sm">Delete</button>
    </a>
    </br>
    </br>
    {% endfor %}

    <!--  BEVERAGES -->
    <h2>Beverages</h2>
    {% for i in beverages %}
    {% if i.name|length > 1 %}<b>{{i.name}}</b></br>{% endif %}
    {% if i.description|length > 1 %}{{i.description}}</br>{% endif %}
    {% if i.price|length > 1 %}{{i.price}}</br>{% endif %}
    <a href="{{url_for('editMenuItem', restaurant_id= restaurant.id, menu_id= i.id)}}">
      <button type="button" class="btn btn-secondary btn-sm">Edit</button>
    </a>
    <a href="{{url_for('deleteMenuItem', restaurant_id= restaurant.id, menu_id= i.id)}}">
      <button type="button" class="btn btn-danger-outline btn-sm">Delete</button>
    </a>
    </br>
    </br>
    {% endfor %}

{% endblock %}
