{% extends "base.html" %}
{% block content %}
		<h1>{{ restaurant.name}}</h1>
		<a href="{{ url_for('restaurants')}}">Return to Restaurant List</a>
		<a href="{{ url_for('newMenuItem', restaurant_id = restaurant.id)}}">Add Item</a>
		</br>
		</br>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
						<li>
							<strong> {{ message }}</strong>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}

		<!--  APPS -->
		<h2>Apps</h2>
		{% for i in apps %}
		{{i.name}}
		</br>
		{{i.description}}
		</br>
		{{i.price}}
		</br>
		<a href="{{url_for('editMenuItem',
		restaurant_id= restaurant.id,
		menu_id= i.id
		)}}">Edit</a>
		<a href="{{url_for('deleteMenuItem',
		restaurant_id= restaurant.id,
		menu_id= i.id
		)}}">Delete</a>
		</br>
		</br>
		{% endfor %}

		<!--  ENTREES -->
		<h2>Entrees</h2>
		{% for i in entrees %}
		{{i.name}}
		</br>
		{{i.description}}
		</br>
		{{i.price}}
		</br>
		<a href="{{url_for('editMenuItem',
		restaurant_id= restaurant.id,
		menu_id= i.id
		)}}">Edit</a>
		<a href="{{url_for('deleteMenuItem',
		restaurant_id= restaurant.id,
		menu_id= i.id
		)}}">Delete</a>
		</br>
		</br>
		{% endfor %}

		<!--  DESSERTS -->
		<h2>Desserts</h2>
		{% for i in desserts %}
		{{i.name}}
		</br>
		{{i.description}}
		</br>
		{{i.price}}
		</br>
		<a href="{{url_for('editMenuItem',
		restaurant_id= restaurant.id,
		menu_id= i.id
		)}}">Edit</a>
		<a href="{{url_for('deleteMenuItem',
		restaurant_id= restaurant.id,
		menu_id= i.id
		)}}">Delete</a>
		</br>
		</br>
		{% endfor %}

		<!--  BEVERAGES -->
		<h2>Beverages</h2>
		{% for i in beverages %}
		{{i.name}}
		</br>
		{{i.description}}
		</br>
		{{i.price}}
		</br>
		<a href="{{url_for('editMenuItem',
		restaurant_id= restaurant.id,
		menu_id= i.id
		)}}">Edit</a>
		<a href="{{url_for('deleteMenuItem',
		restaurant_id= restaurant.id,
		menu_id= i.id
		)}}">Delete</a>
		</br>
		</br>
		{% endfor %}
		
{% endblock %}
